<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>291190415379-9emm74ks01oadhqmv35vlj1tlti4d247.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.291190415379-9emm74ks01oadhqmv35vlj1tlti4d247</string>
		<key>ANDROID_CLIENT_ID</key>
		<string>291190415379-bbd4d9bj5cs1rlk7t7hpoal70a5ee9n2.apps.googleusercontent.com</string>
		<key>API_KEY</key>
		<string>AIzaSyAQwe1DGMtGRJYmHnAK5SWxa6_BX3qodsM</string>
		<key>GCM_SENDER_ID</key>
		<string>291190415379</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.floridainc.dosparkles</string>
		<key>PROJECT_ID</key>
		<string>sparkles-108f3</string>
		<key>STORAGE_BUCKET</key>
		<string>sparkles-108f3.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:291190415379:ios:cf29674f36427741861fe6</string>
	</dict>
</plist>